.page {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
    }

.header {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: 1400px;
        min-height: 90px;
        margin: 0 auto;
        color: rgba(4, 130, 42, 1);
        background-color: rgba(249, 93, 25, 0.7);
    }
    .container {
    
    }
    .nav-menu {
        margin: 10px;
    }
    .nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav-item {
        display: flex;
        min-height: 90px;
    }
    nav-link {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 25px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        line-height: 40px;
        color: rgba(4, 130, 42, 1);
    }
    .section-profile {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 50px 30px;
        margin: 0 auto;
        border-bottom: 7px solid rgba(249, 93, 25, 0.8);
        background-color: rgba(249, 93, 25, 0.3);
    }
    .section-profile-title {
        font-size: 36px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 6px;
        color: rgba(4, 130, 42, 1);
    }
    .section-profile-avatar {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
        filter: grayscale(0.2) brightness(1.05);
        transition: .3s;
        }
    .myphoto {
        object-fit: cover;
        position: fixed;
        transform: translateX(220%);
        border-radius: 25px;
        box-shadow: 0 4px 8px rgba(4, 130, 42, 0.3);
    }
    .section-title {
        font-size: 30px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: rgba(4, 130, 42, 1);
    }
    .about {
       font-family: 'Open Sans', sans-serif;
       font-size: 16px;
       line-height: 30px;
       display: flex;
       align-items: center;
       color: #000000;
       margin: 0;
       margin-bottom: 46px;
    }
    .aboutcourses {
        display: block;
        text-align: left;

    }

  .footer {
       display: flex;
       justify-content: space-between;
       width: 100%;
       min-height: 90px;
       margin: 0 auto;
       color: rgba(4, 130, 42, 1);
       background-color: rgba(249, 93, 25, 0.8);
    }
    .mygit {
       position: relative;
       padding: 0 12px;
       text-decoration: none;
       font-size: 20px;
       font-weight: 300;
       line-height: 50px;
    }
    .rsschool {
        width: 180px;
        height: 52px;
        background-image: url(https://rs.school/images/rs_school_js.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }